{% extends 'base.html' %}
    <!doctype html>
{% block title %}Add Shop {% endblock %}
{% block header %}
{% endblock header %}

{% block content %}
<div class="container" style="padding:20px 0">
    <form method="post"　enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form }}
        <div class="container" style="padding:20px 0">
            <input class="btn btn-primary" value="戻る" onClick="javascript:history.go(-1);">
            <button class="btn btn-success  " type="submit" name="submit">追加</button>
        </div>
    </form>
</div>
    
{% endblock %} 
